@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&family=Quicksand&family=Titan+One&display=swap');
.cards{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
   
  }
  h2{
    color:#072117;
    font-family: 'Montserrat', sans-serif;
    text-align:center;
    text-decoration: underline;
  }
  .cards img{
    box-shadow: 3px 3px 3px 3px;
  }
  h1{
    color:#072117;
    text-align:center;
    font-family:"Arial";
    background-color:#B5c2b7;
  }
  p{
    text-align:center;
    font-family:Courier New;
    color:#072117;
  }
  section{
    padding: 5px;
    margin: 5px;
    background-color:#f1e5ec;
    box-shadow: 0 0 8px #888186;
    border:2px solid #AB490d;
    border-radius: 5px;
  }
  section img{
    width:100px;
    height:auto;
  }
  .list {
      display: flex;
      flex-direction: column;
  }
  
  .list section {
      display: grid;
      grid-template-columns: 2fr 1fr 1fr;
      margin: 0;
      padding: 0.25rem;
  }
  
  .list section > * {
      margin: 0 1rem;
  }
  
  .list section img {
      display: none; /* smaller viewports only */
  }
  
  .list section h3 {
      font-size: 1rem;
      font-family: Roboto, Helvetica, sans-serif;
  }
  
  .list section:nth-child(even) {
      background-color: #bed;
  }
  .directory-grid section {
      flex-direction: column;
      text-align: center;
  }
.menu {
	margin: 1rem auto;
	border: 1px solid rgba(0, 0, 0, 0.1);
	padding: 0.5rem;
	background-color: #f1e5ec;
	text-align: center;
}

.menu button {
	padding: 1rem;
	font-weight: 700;
}
/* og css */

header{
	background-color:#B5c2b7;
	display: flex;
	/*flex-flow:row;*/
	align-items: center;
	justify-content: center;
	padding: 10px;
}
.logo{
  display: block;
  width: 50px;
  height: auto;
  margin: auto;
}
nav {
	margin: 0 auto;
	max-width: 760px;
	background-color: #072117b3;
}
.navigation {
	list-style: none;
	margin: 0;
	padding: 0;
}
.navigation li:first-child {
	display: block;
}
.navigation li {
	display: none;
}
.navigation a {
	display: block;
	padding: 0.75rem;
	text-align: left;
	text-decoration: none;
	color: #f1e5ec;
	font-weight: 700;
	transition: 0.5s;
	font-size: clamp(1rem, 2vmin, 1.5rem);
  font-family: var(--paragraph-font);
}

#menu::before {
	content: "≡";
	font-size: 2rem;
  font-family: var(--paragraph-font);
}

.navigation a:hover, .navigation a:active {
	color: white;
	background-color: black;
}

.responsive li {
	display: block;
}

.responsive #menu::before {
	content: "≡";
}

@media only screen and (min-width: 64rem) {
	body{
        margin: 0 5%;
        font-size: 16px;
    }
	nav button{
		display:none;
	}
	nav ul{
		display:flex;
		justify-content: flex-end;
		margin-left:2vw;
	}
	nav ul li a{
		border:none;
	} 
	#footer-logo{
		text-align: center;
	} 
	

}
@media only screen and (min-width: 32.5em) {
	.navigation {
		display: flex;
	}
	.navigation li {
		display: block; /* change state in small view */
		flex: 1 1 auto;
	}
	.navigation a {
		text-align: center;
	}
	.navigation li:first-child {
		display: none;
	}
  .background{
   display:flex;
   flex-direction: column;
  }
  
  
}