@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&family=Quicksand&family=Titan+One&display=swap');
:root {
    --back: #606c38;
    --back2: #283618;
    --foredark: #bc6c25;
	--forelight: #dda15e;
	--border: #dda15e;
	--zebra: #bc6c25;
}

tbody tr:nth-child(even) {
	background-color: var(--zebra);
}
caption {
    padding: 10px;
    caption-side: bottom;
    color: rgb(255, 149, 10);
    font-size: .85rem;
}

th, td {
	padding: 7px 15px;
	border: 1px solid var(--border);
    font-family: "Quicksand";
}
#blank{
    background-color:#1b2410;
}
th {
	background-color: var(--back);
}
table{
    text-align: center;
}