@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&family=Quicksand&family=Titan+One&display=swap');


header,
footer {
	background-color: #708080;
	display: flex;
	flex-flow: column;
	align-items: center;
	justify-content: center;
	padding: 10px;
}
footer {
	display: flex;
	padding: 1rem;
	justify-content: space-between;
	font-weight: 700;
}
nav {
	display: flex;
	flex-direction:column;
}
nav a {
	display: block;
	color: #fff;
	text-align: center;
	padding: 15px;
	text-decoration: none;
	font-size: 0.9rem;
    flex: 1 1 auto;
}
nav a:hover {
	background-color: #072117;
	color: #B5c2b7;
}
.logo{
    width: 200px;
    height:200px;
    margin: 0 auto;
    display: block;
}
:root {
    --primary-color: #B5c2b7;
    --secondary-color: #072117;
    --accent1-color: #AB490d;
    --accent2-color: #f1e5ec; 

    --heading-font: "Montserrat", Helvetica, sans-serif;
    --paragraph-font: "Quicksand", Helvetica, sans-serif;

}
p {
    font-family: var(--paragraph-font);
    color: var(--paragraph-color);
    padding: 1em;
}
.colors {
    width: 100%;
    min-width: 350px;
    margin: 30px auto;
    text-align: center;
  }
  .colors th {
    background-color: #999;
  }
  .colors td{
    width: 25%;
    height: 3em;
  }
  .primary {
    background-color: var(--primary-color);
  }
  .secondary {
    background-color: var(--secondary-color);
  }
  .accent1 {
    background-color: var(--accent1-color);
  }
  .accent2{
    background-color: var(--accent2-color);
  }
  p.colored {
    background-color: var(--paragraph-background-color);
    color: var(--paragraph-color-on-color);
  }
h1,h2,h4{
    text-align: center;
    font-family: var(--heading-font);
}
main{
    background-color: #f1e5ec;
}
#p-font{
    text-align: center;
}



@media (min-width: 37.5em) {
	nav {
		flex-direction: row;
	}
	
	nav a {
		font-size: 1.1rem;
	}
	main {
		grid-template-columns: 1fr 1fr 1fr;
	}
	main picture {
		display: block;
	}
}

@media (min-width: 48em) {
	nav a {
		font-size: 1.3rem;
	}
}
