@media only screen and (min-width: 60rem){
    nav button{
        display:none;
    }
    nav ul{
        display:flex;
        justify-content: flex-end;
        margin-left:2vw;
    }
    nav ul li a{
        border:none;
    }   
}
@media(max-width: 480px) {
  .background{
    display: block;
  }
  .spotlights-box{
    display:block;
  }
}
