@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&family=Quicksand&family=Titan+One&display=swap');

header h1{
    color: #F2542D; 
    font-family: Quicksand, Helvetica, sans-serif;
    font-size: 2em;
    text-shadow: 2px 2px #F5DFBB;
    z-index: 2;
    padding:10px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
header{
    background-color: #127475;
    padding: 25px 50px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius: 25px;
}
body{
    background-color: #F5DFBB;
}
.header-picture{
    width: 10%;
    height:auto;
    z-index: 2;
}
.main-box p{
    text-align: center;
    font-family: Titan One, Helvetica, sans-serif;
}
.main-box{
    text-align: center;
    list-style-position: inside;
    font-family:Arial, Helvetica, sans-serif;
}
footer{
    background-color: #127475;
    padding: 25px 50px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius: 25px;
}
footer p{
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    font-family: Titan One, Helvetica, sans-serif;
}